<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Task</title>
  </head>
  <body>
    <h2>Add Task MAIN MODULE</h2>

    <form method="post" action="{{ url_for('tasks_module.add_task') }}">
      <label for="title">Title:</label>
      <input type="text" id="task-title-input" name="task-title-input" required /><br />

      <label for="description">Description:</label>
      <textarea id="task-description-input" name="task-description-input" required></textarea><br />

      <button type="submit" id="task-add-button">Add Task</button>
    </form>
  </body>
</html>
